 Juan Arango escaped punishment from the referee for biting Jesus Zavela.   He could face a retrospective punishment for the incident.   Arango had earlier scored a free kick in his team's 4-3 defeat . 
 Gary Gardner confirms he'll report to Aston Villa for pre-season training.   The 22-year-old is out on loan at Championship side Nottingham Forest.   Tim Sherwood is keen to asses Gardner ahead of next season.   The midfielder would prefer a move back to Forest if Villa doesn't wok out.   CLICK HERE for all the latest Aston Villa news . 
